In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('ACM.csv')
df.head(5)

   Unnamed: 0                       id  ...              location      series
0           0  10.1145/2384716.2384763  ...  Tucson, Arizona, USA  SPLASH '12
1           1  10.1145/2635648.2635660  ...  Montreal, QC, Canada     ILC '14
2           2  10.5555/2188385.2343710  ...                   NaN         NaN
3           3    10.1145/611892.611996  ...     Reno, Navada, USA  SIGCSE '03
4           4    10.1145/792548.611996  ...                   NaN         NaN

[5 rows x 21 columns]

In [3]:
df['keywords'] = df['keywords'].astype(str)
count=df.keywords.apply(lambda x: pd.value_counts(x.split(";"))).sum(axis = 0)

In [4]:
count.to_csv('keyword.csv')

In [5]:
df['author']=df['author'].astype(str)
count_auth=df.author.apply(lambda x: pd.value_counts(x.split(","))).sum(axis = 0)

In [6]:
count_auth.to_csv('author.csv')